.container {
  display: flexbox;
  align-self: center;
  border: 5px;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #6f8f72;
  padding: 0.5em 1em;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

.body {
  display: flexbox;
  align-self: center;
}

.name {
  padding-top: 20px;
}

.email {
  padding-top: 20px;
}

.password {
  padding-top: 20px;
}

label {
  display: inline-block;
  text-align: right;
}

input {
  display: table-cell;
}
