.backButton {
    background-color: #a24d0d;
    border-radius: 18px;
    box-shadow: 0 2px 8px 0 rgba(127, 31, 26, 1);
    border: none;
    color: white;
    width: 20%;
    text-align: center;
    margin-top: 5vh;
    height: 5%;
    font-size: 3vh;
}