.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #49a25b;
    border-radius: 18px;
    box-shadow: 0 2px 8px 0 rgb(73, 162, 91);
    border: none;
    color: white;
    max-width: 200px;
    width: 100%;
    text-align: center;
    height: 10%;
    margin-bottom: 1em;
    font-size: 16px;
}

.backButton {
    background-color: #a24d0d;
    border-radius: 18px;
    border: none;
    box-shadow: 0 2px 8px 0 rgb(162,77,13);
    color: white;
    max-width: 200px;
    width: 100%;
    text-align: center;
    height: 10%;
    font-size: 16px;
}

.input {
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: #49a25b;
    border-bottom-color: #49a25b;
    text-align: center;
    font-size: 24px;
}

.productName {
    font-family: SFProText-Bold, serif;
    font-size: 20px;
    color: #212121;
    text-align: center;
}

.priceText {
    font-family: SFProText-Regular, serif;
    font-size: 12px;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.totalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total {
    display: flex;
    margin-right: 1em;
    margin-bottom: 1em;
    font-family: SFProText-Bold, sans-serif;
    font-size: 24px;
    color: #212121;
    text-align: center;
}

.quantity {
    display: flex;
    margin-top: 2em;
    margin-bottom: .5em;
    font-family: SFProText-Bold, serif;
    font-size: 16px;
    text-align: center;
}

.spinners {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

.addButton {
    background-color: #49a25b;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0 2px 8px 0 rgb(73, 162, 91);
    border: none;
    color: white;
    max-width: 200px;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-bottom: 1em;
    font-size: 24px;
}

.subtractButton {
    background-color: #49a25b;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    box-shadow: 0 2px 8px 0 rgb(73, 162, 91);
    border: none;
    color: white;
    max-width: 200px;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-bottom: 1em;
    font-size: 24px;
}

.image {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}