.button {
    background-color: #49a25b;
    border-radius: 18px;
    box-shadow: 0 2px 8px 0 rgb(73, 162, 91);
    border: none;
    color: white;
    width: 20%;
    text-align: center;
    height: 5%;
    margin-bottom: 1em;
}

.backButton {
    background-color: #a24d0d;
    border-radius: 18px;
    box-shadow: 0 2px 8px 0 rgb(73, 162, 91);
    border: none;
    color: white;
    width: 20%;
    text-align: center;
    height: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.textTitle {
    width: 300px;
    height: 60px;
    text-align: center;
    font-family: SFProText-Bold, serif;
    font-size: 4vh;
    margin-top: 30px;
    color: #212121;
}

.normalText {
    font-family: SFProText-Bold, serif;
    font-size: 16px;
    color: #212121;
    width: 40%;
    height: 35px;
    text-align: right;
}

.priceText {
    font-family: SFProText-Regular, serif;
    font-size: 16px;
    color: #212121;
    width: 60%;
    height: 35px;
    text-align: center;
}

.space {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 30px;
    text-align: center;
}

.image {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}